#name{
    font-size: 70px;
    color: rgb(104, 227, 155);
}
#navbar{
    text-align: center;
    justify-content: center;
}
.navy1{
    font-size: 20px;
    cursor: pointer;
    font-family: "Goudy Bookletter 1911", sans-serif;
    margin-left: 10px;
}
