#navbar {
    top: 0;
    text-align: center;
}

#navbar2 {
    text-align: center;
}

#name {
    font-size: 70px;
    margin: 0 auto; /* Centers the element */
    color: rgb(104, 227, 155);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    display: block; /* Makes the element take full width for centering */
}

/* Styling for navy1 elements */
.navy1 {
    margin-left: 40px;
    cursor: pointer;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Responsive Design for Mobile */
@media (max-width: 768px) {
    #name {
        font-size: 50px; /* Smaller font size for mobile */
        margin: 0px auto; /* Keep it horizontally centered */
        text-align: center; /* Ensure text is aligned to center */
    }

    .navy1 {
        margin-left: 0px 5px; /* Remove left margin on mobile */
        text-align: center; /* Center text */
    }
}
